body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #00b36b, #a0d468);
    color: #333;
    text-align: center;
    padding: 30px;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.resaltado {
    color: #006633;
    font-weight: bold;
}

.botones {
    margin-top: 25px;
}

a, button {
    background: #006633;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

a:hover, button:hover {
    background: #00b36b;
}

.oculto {
    display: none;
}

#formulario {
    margin-top: 25px;
    background: #ffffffaa;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    width: 90%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#respuesta {
    margin-top: 15px;
    color: #004d26;
    font-weight: bold;
}

.productos-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.producto-texto {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.producto-texto h2 {
    margin: 0;
    color: #2d7a2d; /* Verde Nutresa */
}

.producto-texto p {
    margin-top: 8px;
    font-size: 15px;
}

.btn-productos {
    background-color: #4CAF50;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

